{:devices {:sculpt [{:vendor_id 1118 :product_id 1957}] ; Microsoft Sculpt
           :surface [{:vendor_id 1118 :product_id 2071}] ; Microsoft Surface Ergonomic
           :pro2014 [{:vendor_id 1452 :product_id 610}] ; MB Pro 2014 built-in keyboard
           :air2020 [{:vendor_id 1452 :product_id 641}] ; MB Air 2020 built-in keyboard
           :pro2021 [{:vendor_id 1452 :product_id 834}] ; MB Pro 2021 built-in keyboard
           :wl [{:vendor_id 1452 :product_id 597}] ; Apple Wireless keyboard
           :magic [{:vendor_id 1452 :product_id 615}] ; Apple Magic keyboard (Wired)
           :magic-bt [{:vendor_id 76 :product_id 615}] ; Apple Magic keyboard (Bluetooth)
           :k3 [{:vendor_id 1452 :product_id 591}] ; Keychron K3 (Windows configuration!)
           :race3 [{:vendor_id 1241 :product_id 402}]} ; Vortex Race 3
 :input-sources {:en {:language "^en$"}
                 :ru {:language "^ru$"}}
 :tos {:to-en {:input :en}
       :to-ru {:input :ru}}
 :main [{:des "Caps->Ctrl"
         :rules [[:##caps_lock :left_control]]}
        {:des "[Shift+]Cmd+Tab -> Witch"
         :rules [[:!Ctab :!COTtab]
                 [:!SCtab :!SCOTtab]]}
        {:des "Non-locking Russian input"
         :rules [[:##right_command :to-ru [:pro2014 :air2020 :pro2021 :wl :magic :magic-bt] {:afterup :to-en}]
                 [:##right_option :to-ru [:sculpt :surface :race3 :k3] {:afterup :to-en}]]}
        {:des "Open apps"
         :rules [[:!CTk "open -a Kitty"]
{{- if eq .chezmoi.hostname "mmwork" }}
                 [:!CTi "open -a Firefox"]
{{ else }}
                 [:!CTi "open -a Chromium"]
{{ end -}}
                 [:!CTy "open -a Finder"]
                 [:!CTd "open -a Emacs"]
                 [:!CTw "open -a OmniFocus"]]}
        {:des "Sculpt keys"
         :rules [[:##page_up :page_down [:sculpt]]
                 [:##page_down :end [:sculpt]]
                 [:##end :page_up [:sculpt]]
                 [:##left_command :left_option [:sculpt]]
                 [:##left_option :left_command [:sculpt]]]}
        {:des "Keychron keys"
         :rules [[:##home :page_down [:k3]]
                 [:##page_down :page_up [:k3]]
                 [:##page_up :home [:k3]]
                 [:##left_command :left_option [:k3]]
                 [:##left_option :left_command [:k3]]
                 [:##right_option :right_command [:k3]]]}]}
