[diff]
	algorithm = histogram

[include]
	path = .gitconfig.host

[merge]
	ff = only

[pull]
	ff = only

[push]
	followTags = true

[http]
	cookieFile = .gitcookies

[core]
	precomposeUnicode = true

[init]
	defaultBranch = master

[user]
{{- if eq .chezmoi.hostname "p1" }}
	email = misha@ridge.co
	name = Mikhail Gusarov
{{ else if eq .chezmoi.hostname "mmwork" }}
	email = misha@ridge.co
	name = Mikhail Gusarov
{{ else }}
	email = dottedmag@dottedmag.net
	name = Mikhail Gusarov
{{ end -}}
