[diff]
	algorithm = histogram

[include]
	path = .gitconfig.host

[merge]
	ff = only

[pull]
	ff = only

[push]
	followTags = true
	autoSetupRemote = true

[http]
	cookieFile = .gitcookies

[core]
	precomposeUnicode = true

[init]
	defaultBranch = master

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

{{- if eq .chezmoi.hostname "mm" }}
[user]
	email = dottedmag@dottedmag.net
	name = Mikhail Gusarov
{{ else if eq .chezmoi.hostname "a" }}
[include]
	path = gitconfig.local
{{ else }}
	{{ fail "unknown git config for this machine" }}
{{ end -}}
