[diff]
	algorithm = histogram

[include]
	path = .gitconfig.host

[merge]
	ff = only

[pull]
	ff = only

[push]
	followTags = true
	autoSetupRemote = true

[http]
	cookieFile = .gitcookies

[core]
	precomposeUnicode = true

[init]
	defaultBranch = master

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[user]
{{- if eq .chezmoi.hostname "p1" }}
	email = misha.gusarov@codethink.co.uk
	name = Mikhail Gusarov
{{ else }}
	email = dottedmag@dottedmag.net
	name = Mikhail Gusarov
{{ end -}}
