{{ if eq .chezmoi.hostname "mm" -}}
Include /Users/dottedmag/.colima/ssh_config
{{- end }}

Include config.local

Host *
  ControlMaster auto
  ControlPath ~/.local/share/ssh/control/%C
  ControlPersist yes
  ExitOnForwardFailure yes
  HashKnownHosts yes
{{- if eq .chezmoi.hostname "mm" }}
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
  SetEnv TERM=xterm
{{- end }}
